In [11]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [2]:
labels  = ['a','b','c']
my_list=[10,20,30]
arr = np.array([10,20,30])
d = {'a':10, 'b':20, 'c':30}

In [11]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [12]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [23]:
pd.Series(data=np.array(0))

0    0
dtype: object

In [17]:
pd.Series(data=d)

a    10
b    20
c    30
dtype: int64

In [28]:
pd.Series(labels,my_list)
# or pd.Series(data = my_list, index = labels)

10    a
20    b
30    c
dtype: object

In [3]:
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [7]:
my_list = ["USA","Germany","USSR","Japen"]
labels=1,2,3,4
ser1 = pd.Series(labels,my_list)
ser1
# ser1 = pd.Serise([1,2,3,4], index = ["USA","Germany","USSR","Japen"])

USA        1
Germany    2
USSR       3
Japen      4
dtype: int64

In [10]:
ser1["USA"] # 메뉴얼 방식
# or ser1[0] 디폴트 방식

1

# 컬럼 불러오기 & 추가하기

In [31]:
np.random.seed(5)

df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

df[["W"]]

# randn(row, column)

          W
A  0.441227
B  0.109610
C  0.187603
D -0.358829
E  1.151391

In [29]:
np.random.seed(5)

df = pd.DataFrame(randn(5,1),index='A B C D E'.split(),columns='W'.split())

df
# or df["W"] or df[[w]]
# Dataframe의 column 불러오기 연습

          W
A  0.441227
B -0.330870
C  2.430771
D -0.252092
E  0.109610

In [32]:
df[["W","Z"]]

          W         Z
A  0.441227 -0.252092
B  0.109610 -0.591637
C  0.187603 -0.204877
D -0.358829 -0.700179
E  1.151391  0.644848

In [45]:
np.random.seed(5)

df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

df

          W         X         Y         Z
A  0.441227 -0.330870  2.430771 -0.252092
B  0.109610  1.582481 -0.909232 -0.591637
C  0.187603 -0.329870 -1.192765 -0.204877
D -0.358829  0.603472 -1.664789 -0.700179
E  1.151391  1.857331 -1.511180  0.644848

In [47]:
df['new']=df["W"]+df["Y"]
df

          W         X         Y         Z       new
A  0.441227 -0.330870  2.430771 -0.252092  2.871999
B  0.109610  1.582481 -0.909232 -0.591637 -0.799623
C  0.187603 -0.329870 -1.192765 -0.204877 -1.005161
D -0.358829  0.603472 -1.664789 -0.700179 -2.023617
E  1.151391  1.857331 -1.511180  0.644848 -0.359789